<div fxLayout="row" fxLayoutAlign="space-evenly" xmlns:https="http://www.w3.org/1999/xhtml">
  <div fxLayout="column" fxFlex.gt-sm="20" fxFlex.gt-md="30" fxHide></div>
  <div fxLayout="column" fxFlex.gt-sm="60" fxFlex.gt-md="40" fxFlex="90">
    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Tour durch den Wald</h3>
          <h1>Vielen Dank, dass Sie die Tour gemacht haben!</h1>
          <p>Unterstützen sie hier das Waldschutzprojekt Neu-Anspach.</p>
          <a href="https://www.waldliebe-neu-anspach.de/" target="_blank">https://www.waldliebe-neu-anspach.de/</a>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>An Experimenten des KD2 Labs teilnehmen:</h3>
          <button routerLink="/anmeldung" mat-raised-button color="primary" disabled>Anmelden</button>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex></div>
  </div>
</div>
