<a-scene>

  <!--  Assets  -->
  <a-assets timeout="3000">
    <audio id="click-sound" crossorigin="anonymous"
           src="assets/media/audio/click.ogg" preload="auto"></audio>

    <img id="img-map" crossorigin="anonymous" src="assets/map.png" alt="Picture">
    <img id="img-01" crossorigin="anonymous" src="assets/forest_pics/Punkt1.JPG" alt="Picture">
    <img id="img-01e" crossorigin="anonymous" src="assets/forest_pics/Punkt1_edited.JPG" alt="Picture">
    <img id="img-02" crossorigin="anonymous" src="assets/forest_pics/Punkt2_edited.JPG" alt="Picture">
    <img id="img-03" crossorigin="anonymous" src="assets/forest_pics/Punkt3_edited.JPG" alt="Picture">
    <img id="img-04" crossorigin="anonymous" src="assets/forest_pics/Punkt4_edited.JPG" alt="Picture">
    <img id="img-05" crossorigin="anonymous" src="assets/forest_pics/Punkt5_edited.JPG" alt="Picture">
    <img id="img-06" crossorigin="anonymous" src="assets/forest_pics/Punkt6_edited.JPG" alt="Picture">
    <img id="img-07" crossorigin="anonymous" src="assets/forest_pics/Punkt7_edited.JPG" alt="Picture">
    <img id="img-08" crossorigin="anonymous" src="assets/forest_pics/Punkt8_edited.JPG" alt="Picture">
    <img id="img-09" crossorigin="anonymous" src="assets/forest_pics/Punkt9_edited.JPG" alt="Picture">
    <img id="img-10" crossorigin="anonymous" src="assets/forest_pics/Punkt10_edited.JPG" alt="Picture">
    <img id="img-11" crossorigin="anonymous" src="assets/forest_pics/Punkt11_edited.JPG" alt="Picture">
    <img id="img-12" crossorigin="anonymous" src="assets/forest_pics/Punkt12_edited.JPG" alt="Picture">
    <img id="img-12a" crossorigin="anonymous" src="assets/forest_pics/Punkt12_abstecher_edited.JPG" alt="Picture">
    <img id="img-13" crossorigin="anonymous" src="assets/forest_pics/Punkt13_edited.JPG" alt="Picture">
    <img id="img-14" crossorigin="anonymous" src="assets/forest_pics/Punkt14_edited.JPG" alt="Picture">
    <img id="img-15" crossorigin="anonymous" src="assets/forest_pics/Punkt15_edited.JPG" alt="Picture">
    <img id="img-16" crossorigin="anonymous" src="assets/forest_pics/Punkt16_edited.JPG" alt="Picture">

    <!-- Icons -->
    <img id="icon-signup" crossorigin="anonymous" src="assets/icons/signup.png" alt="Picture">
    <img id="icon-map" crossorigin="anonymous" src="assets/icons/map.png" alt="Picture">
    <img id="icon-restart" crossorigin="anonymous" src="assets/icons/redo.png" alt="Picture">
    <img id="icon-exit" crossorigin="anonymous" src="assets/icons/leave.png" alt="Picture">
    <img id="icon-minimize" crossorigin="anonymous" src="assets/icons/exit.png" alt="Picture">
    <img id="icon-menu" crossorigin="anonymous" src="assets/icons/bars.png" alt="Picture">
    <img id="icon-audio-off" crossorigin="anonymous" src="assets/icons/audio-off.png" alt="Picture">
    <img id="icon-audio-on" crossorigin="anonymous" src="assets/icons/audio-on.png" alt="Picture">
    <img id="icon-info" crossorigin="anonymous" src="assets/icons/info.png" alt="Picture">
    <img id="icon-confirm" crossorigin="anonymous" src="assets/icons/check-mark.png" alt="Picture">

    <!-- Media -->
    <img id="img-poster" crossorigin="anonymous" src="assets/media/poster.png" alt="Picture">
    <img id="img-example" crossorigin="anonymous" src="assets/media/Example_Tafel.png" alt="Picture">
    <img id="img-welcome" crossorigin="anonymous" src="assets/media/additional_pics/Welcome.jpg" alt="Picture">
    <img id="img-tafel1" crossorigin="anonymous" src="assets/media/boards/Tafel_1_map.jpg" alt="Picture">
    <img id="img-tafel2" crossorigin="anonymous" src="assets/media/boards/Tafel_2_map.jpg" alt="Picture">
    <img id="img-tafel3" crossorigin="anonymous" src="assets/media/boards/Tafel_3_map.jpg" alt="Picture">
    <img id="img-tafel4" crossorigin="anonymous" src="assets/media/boards/Tafel_4_map.jpg" alt="Picture">
    <img id="img-tafel5" crossorigin="anonymous" src="assets/media/boards/Tafel_5_map.jpg" alt="Picture">
    <img id="img-tafel6" crossorigin="anonymous" src="assets/media/boards/Tafel_6_map.jpg" alt="Picture">
    <img id="img-tafel7" crossorigin="anonymous" src="assets/media/boards/Tafel_7_map.jpg" alt="Picture">


    <!-- Mixins -->
    <a-mixin id="m-sky" class="pic360" radius=".9" material="shader: flat; opacity: .7; color: #AAA"
             visible="false"></a-mixin>
    <a-mixin id="m-link"
             geometry="primitive: plane; height: .5; width: .5"
             material="shader: flat; opacity: 0"
             visible="true"
             sound="on: click; src: #click-sound"></a-mixin>
    <a-mixin id="menu-animations"
             animation__open="property: scale; startEvents: open; easing: easeInCubic; dur: 300; from: .0001 .0001 .0001; to: 1 1 1"
             animation__close="property: scale; startEvents: close; easing: easeInCubic; dur: 300; from: 1 1 1; to: .0001 .0001 .0001"
             animation__closeend="property: visible; type: boolean; to: false; startEvents: animationcomplete__close"></a-mixin>
    <a-mixin id="hover-scale"
             animation__mouseenter_scale="property: scale; startEvents: mouseenter; easing: easeOutCubic; dur: 300; to: 1.2 1.2 1.2"
             animation__mouseleave_scale="property: scale; startEvents: mouseleave; easing: easeOutCubic; dur: 300; to: 1 1 1"></a-mixin>
    <a-mixin id="poster" opacity="0" shader="flat" color="#666" look-at="[camera]"
             animation__increase="property: scale; startEvents: mouseenter; to: 6 6 6; easing: easeOutQuad; dur: 700; delay: 50"
             animation__decrease="property: scale; startEvents: mouseleave; to: 1 1 1; easing: easeInQuad; dur: 700; delay: 200;">
    </a-mixin>
    <a-mixin id="m-audio" opacity=".5" shader="flat" color="#666" height=".5" width=".5">
    </a-mixin>

  </a-assets>

  <!--  Foyer  -->

  <a-entity id="sky-55" position="0 0 0" data-text="Start" nav="next: 57" click-nav>
    <a-sky mixin="m-sky" src="#img-01e" rotation="0 225 1"></a-sky>
    <a-entity class="payload">
      <a-image id="entry-point" src="#img-welcome" height=".7" width="1.2" position="0 .4 -1"></a-image>
      <a-plane class="hover" height=".5" width=".5" position="7 -.1 -2.5" mixin="poster" confirm
               analytics="Poster #1" poster="useIcon: true; moveIcon: .9 .7 0">
        <a-image src="#img-tafel1" height="1" width="1.5"></a-image>
      </a-plane>

    </a-entity>
  </a-entity>

  <a-entity id="sky-01" position="0.5 0 0" data-text="Start unedited" nav="next: 55, 03" click-nav>
    <a-sky mixin="m-sky" src="#img-01" rotation="0 225 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-57" position="0 0 -12.5" data-text="Punkt 2" nav="next: 55, 03">
    <a-sky mixin="m-sky" src="#img-02" rotation="0 220 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-03" position="-1 0 -26" data-text="Eingang" nav="next: 57, 04" click-nav>
    <a-sky mixin="m-sky" src="#img-03" rotation="0 235 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="1.5 -.2 -2.5" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel2" height="0.5" width=".707"></a-image>
      </a-plane>
    </a-entity>
  </a-entity>

  <a-entity id="sky-04" position="-1.5 0 -38" data-text="Punkt 4" nav="next: 03, 05" click-nav>
    <a-sky mixin="m-sky" src="#img-04" rotation="0 218 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-05" position="-1 0 -52.5" data-text="Punkt 5" nav="next: 04, 06" click-nav>
    <a-sky mixin="m-sky" src="#img-05" rotation="0 222 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-06" position="2.5 0 -69.5" data-text="Punkt 6" nav="next: 05, 07" click-nav>
    <a-sky mixin="m-sky" src="#img-06" rotation="0 212 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="-2.2 0 -1.7" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel3" height="0.5" width=".707"></a-image>
      </a-plane>
    </a-entity>
  </a-entity>

  <a-entity id="sky-07" position="6.3 0 -90.5" data-text="Punkt 7" nav="next: 06, 08" click-nav>
    <a-sky mixin="m-sky" src="#img-07" rotation="0 212 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-08" position="8.5 0 -112.5" data-text="Punkt 8" nav="next: 07, 09" click-nav>
    <a-sky mixin="m-sky" src="#img-08" rotation="0 222 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-09" position="10.5 0 -133.6" data-text="Punkt 9" nav="next: 08, 10" click-nav>
    <a-sky mixin="m-sky" src="#img-09" rotation="0 220 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-10" position="13.5 0 -156.5" data-text="Punkt 10" nav="next: 09, 11" click-nav>
    <a-sky mixin="m-sky" src="#img-10" rotation="0 226 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="-3 0 -3.3" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel4" height="0.5" width=".707"></a-image>
      </a-plane>
    </a-entity>
  </a-entity>

  <a-entity id="sky-11" position="18.8 0 -182" data-text="Punkt 11" nav="next: 10, 12" click-nav>
    <a-sky mixin="m-sky" src="#img-11" rotation="0 228 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-12" position="25 0 -206.5" data-text="Punkt 12" nav="next: 11, 12a, 13" click-nav>
    <a-sky mixin="m-sky" src="#img-12" rotation="0 222 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="2 -.5 -2" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel5" height="0.5" width=".707"></a-image>
      </a-plane>
    </a-entity>
  </a-entity>

  <a-entity id="sky-12a" position="10.5 .2 -211" data-text="Punkt 12 Abstecher" nav="next: 12" click-nav>
    <a-sky mixin="m-sky" src="#img-12a" rotation="6 220 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="-3 -.5 -1.5" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel6" height="0.5" width=".707"></a-image>
      </a-plane>
    </a-entity>
  </a-entity>

  <a-entity id="sky-13" position="32 0 -226.5" data-text="Punkt 13" nav="next: 12, 14" click-nav>
    <a-sky mixin="m-sky" src="#img-13" rotation="0 223 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-14" position="36.5 0 -239" data-text="Punkt 14" nav="next: 13, 15" click-nav>
    <a-sky mixin="m-sky" src="#img-14" rotation="0 223.5 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-15" position="40.2 0 -249" data-text="Punkt 15" nav="next: 14, 16" click-nav>
    <a-sky mixin="m-sky" src="#img-15" rotation="0 230 0"></a-sky>
    <a-entity class="payload">
    </a-entity>
  </a-entity>

  <a-entity id="sky-16" position="45 0 -263.5" data-text="Punkt 16" nav="next: 15" click-nav>
    <a-sky mixin="m-sky" src="#img-16" rotation="0 229 0"></a-sky>
    <a-entity class="payload">
      <a-plane class="hover" height=".5" width=".5" position="0 0 -2" mixin="poster"
               analytics="Poster #1" poster="useIcon: true; moveIcon: .35 .45 0">
        <a-image src="#img-tafel7" height="0.5" width=".707"></a-image>
      </a-plane>
      <a-entity
        class="link" position="2 0 -2"
        button="imageSrc: #icon-exit; text: Beenden"
        menu-exit
        mixin="m-link hover-scale">
      </a-entity>
    </a-entity>
  </a-entity>



  <!-- Camera + cursor. -->
  <a-entity id="cam-rig" position="0 50 0">
    <a-entity camera position="0 0 0"
              look-controls="pointerLockEnabled: true"
              wasd-controls="acceleration: 25">

      <!-- Cursor for clicks -->
      <a-entity
        id="cursor"
        cursor="fuse: true; fuseTimeout: 1700"
        material="color: black; shader: flat"
        position="0 0 -1"
        geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
        animation__click_deactivate_fuse="property: cursor.fuse; startEvents: mousedown; to: false; dur: 10; delay: 20"
        animation__click_reactivate_fuse="property: cursor.fuse; startEvents: mouseup; to: true; dur: 10"
        animation__click="property: scale; startEvents: mousedown; easing: easeInCubic; dur: 170; from: 0.3 0.3 0.3; to: 1 1 1; delay: 20"
        animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; from: 1 1 1; to: 0.3 0.3 0.3; dur: 1500"
        animation__fusing2="property: scale; startEvents: animationcomplete__fusing; easing: easeInCubic; to: 1 1 1; dur: 100; delay: 100"
        animation__mouseenter="property: components.material.material.color; type: color; to: #999; easing: linear; startEvents: mouseenter; dur: 1200"
        animation__mouseleave_color="property: components.material.material.color; type: color; to: #000; startEvents: mouseleave; dur: 200"
        animation__mouseleave_scale="property: scale; startEvents: mouseleave; easing: easeInCubic; dur: 300; to: 1 1 1"
        raycaster="objects: .link"
        proxy-event="event: mousedown; to: #cursor; as: nav-click"
        click-nav>
      </a-entity>

      <!-- Cursor for hovers -->
      <a-entity
        id="cursor-invisible"
        cursor="fuse: false"
        position="0 0 -1"
        raycaster="objects: .hover">
      </a-entity>

      <!-- Curtain -->
      <a-sphere
        id="curtain"
        radius=".4"
        color="#000"
        opacity="0"
        side="double"
        visible="true"
        animation__fade="property: components.material.material.opacity; type: number; from: 0; to: 1; dur: 150; startEvents: fade"
        animation__fadeback="property: components.material.material.opacity; type: number; from: 1; to: 0; delay: 170; dur: 150; startEvents: animationcomplete__fade"
        animation__fadelong="property: components.material.material.opacity; type: number; from: 0; to: 1; dur: 500; startEvents: fadelong"
        animation__fadelongback="property: components.material.material.opacity; type: number; from: 1; to: 0; dur: 1000; startEvents: fadelongback"
        animation__fadeend="property: visible; type: boolean; to: false; startEvents: animationcomplete__fadeback"
        animation__fadelongend="property: visible; type: boolean; to: false; startEvents: animationcomplete__fadelongback"
      ></a-sphere>
    </a-entity>

    <!-- Ground plate -->
    <a-entity class="circle" position="0 -6 0" visible="true">
      <a-circle color="#282424" radius="2.5" rotation="-90 0 0"></a-circle>
    </a-entity>
  </a-entity>


  <!-- Navigation map -->
  <a-entity
    id="nav-map"
    position="0 -0.2 -1"
    look-at="[camera]"
    visible="false"
    scale=".0001 .0001 .0001"
    mixin="menu-animations"
    nav-map>
    <a-plane color="#666" height=".5" width=".92" position="0 0 -.02" shader="flat"></a-plane>
    <a-image src="#img-map" height=".4" width=".8"></a-image>
    <a-circle radius=".3" position="-0.4 .2 .02" color="#AA0000"
              shader="flat"
              animation__blink="property: radius; from: .03; to:0.015; dur: 1000; easing: easeInQuad; startEvents: blink, animationcomplete__blinkback;"
              animation__blinkback="property: radius; from: .015; to:0.03; dur: 1000; delay: 50; easing: easeOutQuad; startEvents: animationcomplete__blink;">
    </a-circle>

    <!-- Close -->
    <a-entity scale=".4 .4 .4" position=".38 .17 .1">
      <a-entity
        class="link"
        button="imageSrc: #icon-minimize; text: "
        nav-map-close
        mixin="m-link hover-scale"></a-entity>
      <a-circle radius=".12" position="0 .0375 0" color="#666" shader="flat" opacity="1"></a-circle>
    </a-entity>
  </a-entity>

  <!--  Welcome / Let it snow  -->
  <a-entity id="welcome" position="0 50 0">
    <a-sphere id="w-sphere" radius="100" color="#999" opacity="1" side="double" snow>
      <a-text value="Willkommen bei der 360 Grad Tour im Taunus be Neu-Aspach" position="0 0 -2" color="#000" side="double"
              align="center" look-at="[camera]"></a-text>
      <a-text value="Laden ..." position="0 -.6 -2" color="#000" side="double" align="center"
              look-at="[camera]"></a-text>
    </a-sphere>
  </a-entity>

</a-scene>
