.sv_qstn .sq-root-cb {
  border-left: 4px solid orange;
}
.sq-title {
  font-size: 20px;
  margin-left: 20px;
}
.sq-title-required {
  color: red;
}
.sq-label {
  margin-left: 30px;
}
.sq-item:nth-child(1) {
  margin-bottom: 5px;
}
