<audio src="assets/media/audio/click.ogg"></audio>
<audio src="assets/media/audio/sound.mp3"></audio>


<img src="assets/forest_pics/Punkt1.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt1_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt2_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt3_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt4_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt5_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt6_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt7_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt8_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt9_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt10_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt11_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt12_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt12_abstecher_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt13_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt14_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt15_edited.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/forest_pics/Punkt16_edited.JPG" alt="Picture" (load)="onLoad()">

<!-- Icons -->
<img src="assets/icons/signup.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/map.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/redo.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/leave.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/exit.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/bars.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/audio-off.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/audio-on.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/info.png" alt="Picture" (load)="onLoad()">

<!-- Media -->
<!-- <video id="vid-i3" crossorigin="anonymous" src="assets/media/i3.mp4" autoplay></video>-->
<img src="assets/media/poster.png" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_1_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_2_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_3_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_4_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_5_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_6_map.jpg" alt="Picture" (load)="onLoad()">
<img src="assets/media/boards/Tafel_7_map.jpg" alt="Picture" (load)="onLoad()">
