<audio src="assets/media/audio/click.ogg"></audio>
<audio src="assets/media/audio/sound.mp3"></audio>

<img src="assets/map.png" alt="Picture">
<img src="assets/pics/R0010055.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010052.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010056.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010057.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010024.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010025.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010026.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010027.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010028.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010030.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010035.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010039.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010041.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010043.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010045.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010049.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010051.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010053.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010054.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010058.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010060.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010061.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010062.JPG" alt="Picture" (load)="onLoad()">
<img src="assets/pics/R0010065.JPG" alt="Picture" (load)="onLoad()">

<!-- Icons -->
<img src="assets/icons/signup.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/map.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/redo.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/leave.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/exit.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/bars.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/audio-off.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/audio-on.png" alt="Picture" (load)="onLoad()">
<img src="assets/icons/info.png" alt="Picture" (load)="onLoad()">

<!-- Media -->
<!-- <video id="vid-i3" crossorigin="anonymous" src="assets/media/i3.mp4" autoplay></video>-->
<img src="assets/media/poster.png" alt="Picture" (load)="onLoad()">
