<div fxLayout="row">
  <div fxLayout="column" fxFlex="20"></div>
  <div fxLayout="column" fxFlex="60">
    <div fxLayout="row" fxFlexOffset="10px">

      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Tour durch das KD2 Lab</h3>
          <h1>Willkommen!</h1>
          <p>Im Folgenden kann das KD2 des iism virtuell besichtigt werden.</p>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h2>So funktioniert es</h2>
          <p>Hier wird erklärt, wie die Tour funktioniert.</p>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Hier geht es weiter zur Tour:</h3>
          <button routerLink="/tour" mat-raised-button color="primary">360° Tour</button>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex></div>
  </div>
</div>
