<app-aframe-preloader *ngIf="preload" (hasLoaded)="hasLoaded($event)" (loadingProgress)="loadingProgress($event)"></app-aframe-preloader>
<div fxLayout="row" fxLayoutAlign="space-evenly">
  <div fxLayout="column" fxFlex.gt-sm="20" fxFlex.gt-md="30" fxHide></div>
  <div fxLayout="column" fxFlex.gt-sm="60" fxFlex.gt-md="40" fxFlex="90">
    <div fxLayout="row" fxFlexOffset="10px">

      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Tour durch den Taunus bei Neu-Aspach</h3>
          <h1>Willkommen!</h1>
          <p>Im Folgenden kann ein Waldstück bei der Gemarkung Neu-Aspach besichtigt werden.</p>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h2 style="text-align: left;">Die Tour</h2>
          <img src="../../../../assets/media/additional_pics/Luftbild_cropped.jpg" width="500" >
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h2>Datenhinweis</h2>
          <p>Achtung: Diese Applikation benötigt viele Daten. Eine WLAN-Verbindung ist empfohlen.</p>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
              <button mat-raised-button color="primary" (click)="preload = true" *ngIf="!preload">
                Preload
              </button>
              <button mat-raised-button color="primary" *ngIf="preload && !loaded" disabled>Loading...</button>
              <button mat-raised-button color="primary" *ngIf="loaded" disabled>Loaded ✔</button>
            </div>
            <div fxLayout="column" fxFlex="30" fxFlexOffset="10px">
              <mat-progress-spinner [value]="progress * 100" [diameter]="25" mode="determinate" *ngIf="preload && !loaded"></mat-progress-spinner>
            </div>
          </div>


        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h2>Tour</h2>
          <h3 *ngIf="!loaded">Zuerst müssen die erforderlichen Daten oben geladen werden.</h3>
          <h3 *ngIf="loaded">Hier geht es weiter zum Tutorial:</h3>
          <button routerLink="/forest" mat-raised-button color="primary" *ngIf="!loaded" disabled>Starte 360° Tour</button>
          <button routerLink="/tutorial" mat-raised-button color="primary" *ngIf="loaded">Starte Tutorial</button>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column" fxFlex></div>
  </div>
</div>
