<div fxLayout="row" fxLayoutAlign="space-evenly">
  <div fxLayout="column" fxFlex.gt-sm="90" fxFlex.gt-md="80" fxFlex="90">
    <div fxLayout="row" fxFlexOffset="10px">

      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Tour durch den Taunus bei Neu-Aspach</h3>
          <h1>Tutorial</h1>
          <p>Sie werden sich gleich auf einem Waldstück im Taunus wiederfinden. Bevor sie auf "Starte 360° Tour" klicken
          finden Sie hier einen Überblick über die wichtigsten Aktionen in der virtuellen Welt. Mit den
            Pfeiltasten links und rechts neben den Bildern können sie sich durch das Tutorial navigieren. Viel Spaß! </p>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <app-tutorial-swiper></app-tutorial-swiper>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxFlexOffset="10px">
      <div fxLayout="column" fxFill>
        <mat-card>
          <h3>Hier geht es weiter zur Tour:</h3>
          <button routerLink="/tour" mat-raised-button color="primary">Starte 360° Tour</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>

